body, html {
	height: 100%;
}

.nav {
	padding-top: 20px;
}

.nav a {
  color: #5a5a5a;
  font-size: 22px;
  font-weight: bold;
  padding: 20px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

/*div {
	border: solid 1px red;
}*/

.footer {
  /*position: absolute;*/
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container .text-muted {
  margin: 20px 0;
}

.container {
	height: 100%;
}

map {
	height: 640px;
}

.label {
	background-color: #3bb;
	width: 22%;
	font-size: 18px;
	padding: 5px 8px;
}